<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

    <img src="assets/img/404/404.svg" alt="" style="width: 20%;">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
        <h1 style="font-size: 72px;">404</h1>
        <h3> Cette page est en construction, elle sera bientôt disponible ! </h3>
        <br>
        <br>
        <br>
        <a href="">
            <button class="btnV2 btnV2-rounded btnV2XL btn-primary ">Retourner sur la page d'accueil</button>
        </a>
    </div>

</section>