<footer fxLayout="row wrap" fxLayoutAlign="space-between center">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="start start" fxLayoutGap.gt-sm="100px" fxFlex="100">


        <!-- Col 1 -->
        <div fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <img src="assets/logo/logoBleuV2.png" alt="logo" width="10%">
                <h1>Layxo</h1>
            </div>
            <p>Notre dynamisme au service
                de vos besoins</p>
        </div>

        <div class="links" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between start" fxFlex="100" fxFlex.gt-sm="100">


            <!-- Col 2 -->
            <div fxLayout="column" fxLayoutAlign="start start">
                <a href=""> Accueil</a>
                <a href="#layxo"> A propos</a>
                <a href="#vision"> Notre vision</a>
            </div>

            <!-- Col 3 -->
            <div fxLayout="column" fxLayoutAlign="start start">
                <a href="#services"> Nos services</a>
                <a href="#contact"> Nous contacter</a>
                <a href="404"> FAQ</a>
            </div>

            <!-- Col 4 -->
            <div fxLayout="column" fxLayoutAlign="start start">
                <a href="404"> Nos équipe</a>
                <a href="404"> Carrières</a>
            </div>

            <!-- Col 5 -->
            <div fxLayout="column" fxLayoutAlign="start start">
                <a href="https://www.linkedin.com/company/layxo" target="_blank"
                    class="external-link external-link-hidden"><i class="fa-brands fa-linkedin"></i> Layxo</a>

            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx" fxFlex="100" class="sub-footer">


        <p>© 2022 Layxo</p>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
            <a href="404">Aide</a>
            <a href="404">Termes & conditions</a>
            <a href="404">Confidentialité</a>
        </div>
    </div>
</footer>