<footer fxLayout="row wrap" fxLayoutAlign="space-between center">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="start start" fxLayoutGap.gt-sm="100px" fxFlex="100">


        <!-- Col 1 -->
        <div fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <img src="assets/logo/logoprimary.svg" alt="logo" width="50%">
                <h1>Meildo</h1>
            </div>
            <p>Notre dynamisme au service
                de vos besoins</p>
        </div>

        <div class="links" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between start" fxFlex="100" fxFlex.gt-sm="100">


            <!-- Col 2 -->
            <div fxLayout="column" fxLayoutAlign="start start">
                <a href="#"> Accueil</a>
                <a href="#"> A propos</a>
                <a href="#"> Notre vision</a>
            </div>

            <!-- Col 3 -->
            <div fxLayout="column" fxLayoutAlign="start start">
                <a href="#"> Nos services</a>
                <a href="#"> Nous contacter</a>
                <a href="#"> FAQ</a>
            </div>

            <!-- Col 4 -->
            <div fxLayout="column" fxLayoutAlign="start start">
                <a href="#"> Nos équipe</a>
                <a href="#"> Carrières</a>
            </div>

            <!-- Col 5 -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <a href="#"> Linkdin </a>
                <a href="#"> Insta</a>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx" fxFlex="100" class="sub-footer">


        <p>©2022 Meildo</p>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <a href="#">Aide</a>
            <a href="#">Termes & conditions</a>
            <a href="#">Confidentialité</a>
        </div>
    </div>
</footer>