<section fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

    <!-- Block Left -->
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex fxFlex.gt-sm="50">
        <h6 class="section-header">Notre Agence</h6>
        <h1 class="section-title">Meildo, votre agence <br>sur Lyon</h1>
        <p class="section-text">
            Meildo est une agence de développement indépendande lyonnaise qui conçoit des solutions numériques sur
            mesure, notamment
            à travers la création d’applications web et mobile.
        </p>
        <p class="section-text">
            Nous accompagnons nos clients dans leurs besoins et transitions numériques, avec notamment le développement
            de solutions personnalisées et sur mesures afin de se conformer au mieux à leurs problématiques métiers.
        </p>
        <p class="section-text">
            Fraichement crée par trois jeunes ingénieurs diplomés de la filière Informatique par alternance de l’école
            Polytech Lyon, Meildo est une jeune entreprise dynamique et ambitieuse spécialisée dans le développement web
            et mobile qui est continuellement à la recherche de nouveaux défis à résoudre.
        </p>
    </div>

    <!-- / Block Left -->

    <!-- Block Right -->
    <div fxFlex fxFlex.gt-sm="50" fxLayout="row" fxLayoutAlign="center" fxHide fxShow.gt-sm>
        <img src="assets/img/about.png" alt="aboutImg" width="80%">
    </div>
    <!-- / Block Right -->

</section>