<section fxLayout="row" fxLayoutAlign="space-between flex-end" fxLayoutGap="30px" id="layxo">

    <div class="parent">

        <!-- Block Left -->
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex fxFlex.gt-sm="50">
            <h6 class="section-header" ngsReveal>Notre Agence</h6>
            <h1 class="section-title" ngsReveal>Layxo, votre agence <br>sur Lyon</h1>
            <p class="section-text" [ngsReveal]="{ delay:500}">
                Layxo est une agence de développement indépendante lyonnaise qui conçoit des solutions numériques
                sur
                mesure, notamment
                à travers la création d’applications web et mobile.
            </p>
            <p class="section-text" [ngsReveal]="{ delay:700}">
                Nous accompagnons nos clients dans leurs besoins et transitions numériques, avec notamment le
                développement
                de solutions personnalisées et sur mesure afin de se conformer au mieux à leurs problématiques
                métiers.
            </p>
            <p class="section-text" [ngsReveal]="{ delay:900}">
                Fraîchement créée par trois jeunes ingénieurs diplômés de la filière Informatique par alternance de
                l’école <a href="https://polytech.univ-lyon1.fr" target="_blank" class="external-link">Polytech Lyon</a>
                , Layxo est une jeune entreprise dynamique et ambitieuse spécialisée dans le
                développement web
                et mobile qui est continuellement à la recherche de nouveaux défis à résoudre.
            </p>
        </div>

        <!-- / Block Left -->

        <!-- Block Right -->
        <div fxFlex fxFlex.gt-sm="50" fxLayout="row" fxLayoutAlign="center flex-end" fxHide fxShow.gt-sm
            class="child-right">

            <div class="image-square img-rounded" [ngsReveal]="{ delay:500}"
                [style.background-image]="'url(assets/img/about/about.jpeg)'">

            </div>

        </div>
        <!-- / Block Right -->
    </div>
</section>