.nav-wrap {
    padding: 40px 150px 0px 150px;
}
.nav {
    height: 50px;

    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav > .nav-header {
    // display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: var(--dark-text);

    span {
        font-weight: 600;
        margin-left: 10px;
    }
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    color: var(--dark-text);
    font-weight: 500;
    //  font-size: 14px;
}

.nav > .nav-links > a:hover {
    color: var(--primary);
    font-weight: 600;
    border-radius: 4px;
}

.nav > #nav-check {
    display: none;
}
button {
    font-weight: 600;
    font-size: 17px;
}

// Responsive -> Desktop
@media only screen and (min-width: 960px) {
    .nav-wrap {
        // background-color: var(--primary);
        padding: 40px 150px 0px 150px;
    }
}
// Responsive -> Mobile
@media (max-width: 600px) {
    .nav-wrap {
        padding: 30px;
    }
    .nav-btn {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 999;
    }
    .nav-links {
        z-index: 999;
    }

    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
        // background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: var(--primary);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        overflow-x: hidden;
        top: 80px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
        color: #fff;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
