<div class="nav-wrap">
    <nav class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title" fxLayout="row" fxLayoutAlign="start center">
                <img src="assets/logo/logoBleuV2.png" alt="logo" width="50px">
                <span>Layxo</span>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="#">Accueil</a>
            <a href="#layxo">Agence</a>
            <a href="#services">Services</a>
            <a href="#vision">Vision</a>
            <a href="mailto:contact@layxo.com?subject=[Layxo]%20Prise%20de%20contact">
                <button class="btnV2 btnV2-rounded btnV2-outline " style="margin-left: 60px;">Nous contacter</button>
            </a>
        </div>
    </nav>

</div>