<div class="nav-wrap">
    <nav class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title" fxLayout="row" fxLayoutAlign="start flex-end">
                <img src="assets/logo/logo.svg" alt="logo" width="30px">
                <span>Meildo</span>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="#">Accueil</a>
            <a href="#">A propos</a>
            <a href="#">Notre Vision</a>
            <a href="#">Nos Services</a>
            <button class="btn-outline">Nous contacter</button>
        </div>
    </nav>

</div>