section {
    background-color: var(--thirdary);
    background-image: url("/assets/img/contact/contact.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        color: var(--light-text);
    }
    h6 {
        color: var(--secondary);
    }
    min-height: 75vh;
}
