<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" id="services">
    <h6 class="section-header">Nos Services</h6>
    <br>
    <h1 class="section-title text-center">Nos compétences</h1>
    <br>
    <br><br>

    <div fxLayout="row wrap" fxLayoutAlign="center center" ngsRevealSet [ngsInterval]="150" [ngsSelector]="'.skill'">

        <!-- Skills -->
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start"
            fxLayoutGap="25px" fxLayoutGap.gt-sm="40px" class="skill" fxFlex="100" fxFlex.gt-sm="40">
            <div class="skill-icon" fxLayout="column" fxLayoutAlign="center center">
                <i class="fa-solid fa-compass-drafting"></i>
            </div>
            <div class="skill-text text-center">
                <h1>Audits & Conception</h1>
                <p>Audits, étude de faisabilité, conception, création de maquettes et prototypes, nous accompagnons nos
                    clients de A à Z</p>
            </div>
        </div>

        <!-- Skills -->
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start"
            fxLayoutGap="25px" fxLayoutGap.gt-sm="40px" class="skill" fxFlex="100" fxFlex.gt-sm="40">
            <div class="skill-icon" fxLayout="column" fxLayoutAlign="center center">
                <i class="fa-solid fa-code"></i>
            </div>
            <div class="skill-text text-center">
                <h1>Développement</h1>
                <p>Création d’applications web et mobile, nous plaçons notre expertise technique au
                    service de vos besoins</p>
            </div>
        </div>

        <!-- Skills -->
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start"
            fxLayoutGap="25px" fxLayoutGap.gt-sm="40px" class="skill" fxFlex="100" fxFlex.gt-sm="40">
            <div class="skill-icon" fxLayout="column" fxLayoutAlign="center center">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="skill-text text-center">
                <h1>Maintenance</h1>
                <p>Maintien en condition opérationnelle de votre solution informatique, via un
                    hébergement cloud ou sur
                    vos sites</p>
            </div>
        </div>

        <!-- Skills -->
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start"
            fxLayoutGap="25px" fxLayoutGap.gt-sm="40px" class="skill" fxFlex="100" fxFlex.gt-sm="40">
            <div class="skill-icon" fxLayout="column" fxLayoutAlign="center center">
                <i class="fa-solid fa-list-check"></i>
            </div>
            <div class="skill-text text-center">
                <h1>Conseil</h1>
                <p>Accompagnement dans la mise en place des outils et solutions numériques, pour un lancement de vos
                    projets réussis</p>
            </div>
        </div>

    </div>

</section>