<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" id="services">
    <h6 class="section-header">Nos Services</h6>
    <br>
    <h1 class="section-title text-center">Nos compétences</h1>
    <br>
    <br><br>

    <div fxLayout="row wrap" fxLayoutAlign="start center" ngsRevealSet [ngsInterval]="150" [ngsSelector]="'.skill'">

        <!-- Skills -->
        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="40px" class="skill" fxFlex fxFlex.gt-sm="50">
            <div class="skill-icon" fxLayout="column" fxLayoutAlign="center center">
                <i class="fa-solid fa-compass-drafting"></i>
            </div>
            <div class="skill-text">
                <h1>Audits & Conception</h1>
                <p>Audits, étude de faisabilité, conception, création de maquettes et prototypes, nous accompagons nos
                    clients de A à Z</p>
            </div>
        </div>

        <!-- Skills -->
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="40px" class="skill" fxFlex fxFlex.gt-sm="50">
            <div class="skill-icon" fxLayout="column" fxLayoutAlign="center center">
                <i class="fa-solid fa-code"></i>
            </div>
            <div class="skill-text">
                <h1>Développement</h1>
                <p>Création d’applications web et mobile, nous placons notre expertise technique au
                    service de vos besoins</p>
            </div>
        </div>

        <!-- Skills -->
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="40px" class="skill" fxFlex fxFlex.gt-sm="50">
            <div class="skill-icon" fxLayout="column" fxLayoutAlign="center center">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="skill-text">
                <h1>Maintenance</h1>
                <p>Maintient en conditions opérationnelle de votre solution informatique, via un
                    hébergement cloud ou sur
                    vos sites</p>
            </div>
        </div>

    </div>

    <!-- Card  
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0px" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between center" class="card-container">

        <div class="card" fxLayout="column" fxLayoutAlign="center center" fxFlex="90" fxFlex.gt-sm="30">
            <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
                <img src="assets/img/skills/Icon-wallet.svg" alt="img-card">
                <span>#1</span>
                <h1>Audits & Conception</h1>
                <p>Audits, étude de faisabilité, conception, création de maquettes et prototypes, nous accompagons nos
                    clients de A à Z</p>
            </div>
        </div>

        <div class="card" fxLayout="column" fxLayoutAlign="center center" fxFlex="90" fxFlex.gt-sm="30">
            <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
                <img src="assets/img/skills/Icon-Backpack.svg" alt="img-card">
                <span>#2</span>
                <h1>Développement</h1>
                <p>Création d’applications web et mobile, nous placons notre expertise technique au
                    service de vos besoins
                </p>
            </div>
        </div>
        <div class="card" fxLayout="column" fxLayoutAlign="center center" fxFlex="90" fxFlex.gt-sm="30">
            <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
                <img src="assets/img/skills/Icon-Analytic.svg" alt="img-card">
                <span>#3</span>
                <h1>Maintenance</h1>
                <p>Maintient en conditions opérationnelle de votre solution informatique, via un
                    hébergement cloud ou sur
                    vos sites</p>
            </div>
        </div>


    </div>
-->
</section>