section {
    min-height: 80vh;
    margin-bottom: 100px;
}

.skill {
    padding: 40px;
    .skill-icon {
        background-color: #f7f7ff;
        color: var(--primary);
        font-size: 32px;
        padding: 20px;
        border-radius: 15px;
    }
    .skill-text {
        h1 {
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            color: var(--grey-text);
            margin-top: 8px;
            line-height: 1.5;
        }
    }
}
