<section fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <!-- Block Right -->
    <div fxFlex fxFlex.gt-sm="50" fxLayout="row" fxLayoutAlign="center" fxHide fxShow.gt-sm ngsRevealSet
        [ngsInterval]="150" [ngsSelector]="'.skill-card'">

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">

                <div class="skill-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
                    <div class="icon" fxLayout="row" fxLayoutAlign="center center">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                    <h5>Technologies innovantes</h5>
                </div>

                <div class="skill-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
                    <div class="icon" fxLayout="row" fxLayoutAlign="center center">
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <h5>Qualité de code</h5>
                </div>

            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">

                <div class="skill-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
                    <div class="icon" fxLayout="row" fxLayoutAlign="center center">
                        <i class="fa-solid fa-comments"></i>
                    </div>
                    <h5>Equipe dynamique</h5>
                </div>

            </div>
        </div>

    </div>
    <!-- / Block Right -->
    <!-- Block Left -->
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex fxFlex.gt-sm="50">
        <h6 class="section-header" ngsReveal>Nos atouts</h6>
        <h1 class="section-title" ngsReveal>Ce qui fait
            notre force</h1>

        <p class="section-text" [ngsReveal]="{ delay:500}">
            Issue de l’école d’ingénieur <a href="https://polytech.univ-lyon1.fr" target="_blank"
                class="external-link">Polytech Lyon</a> en alternance, nous sommes
            une équipe dynamique composée de trois
            personnes
            posédant des compétences diverses dans le monde du web, du mobile, et de l’infrastructure grâce à nos trois
            années
            d’expérience en entreprise.
        </p>
        <p class="section-text" [ngsReveal]="{ delay:700}">
            Nous travaillons avec des technologies de pointe, reconnue pour leur efficacité et concues pour créer des
            solutions
            destinées aux entreprises. Cela nous permet un grand contrôle la qualité des livrables.</p>

    </div>

    <!-- / Block Left -->



</section>