/* You can add global styles to this file, and also import other style files */

// Global Variables
:root {
    --primary: #064635;
    --secondary: #d79930;
    --yellow-text: #febb25;
    --light-text: #fff;
    --section-title:#0B1131;
    --section-text:#A0ABB8;

    --card-secondary:#306844;
    --card-secondary-text:#fff;
    --card-third:#064635;
    --card-third-text:#fff;
}

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

// Common SCSS
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.text-center{
    text-align: center;
}


// Button
button:hover{
    cursor: pointer;
}

// BTN OUTLINE
button.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

button.btn-outline:hover {
    background-color: #fff;
    color:var(--secondary);
}



// Section
.section-header{
    color:var(--secondary);
    font-size: 24px;
    font-weight: 600;
}

.section-title{
    color:var(--section-title);
    font-size: 48px;
    line-height: 68px;
    font-weight: bold;
    margin-top: -30px;
}

.section-text{
    color:var(--section-text);
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
}


// Responsive -> Desktop
@media only screen and (min-width: 960px) {
    section {
        padding: 150px;
    }


}
