<section fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">

    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0px" class="fade">


        <h1 class="m-0" ngsReveal>L’agence qui vous accompagne<br>
        </h1>


        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">


            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" fxFlex fxFlex.gt-sm="50"
                style="text-align: center;">

                <h1 class="title-second-part">pour
                    <ng-container *ngFor="let item of textFadeOptions;let i=index">
                        <span class="text-fade" [ngClass]="{'text-fade-active': i==countTextFade}">
                            {{item}}
                        </span>
                    </ng-container>
                </h1>

                <p [ngsReveal]="{ delay:500}">Création d’applications web, développement d’outils digitaux et
                    d’applications mobiles, nous
                    accompagnons
                    les professionnels qui désirent gagner en visibilité, productivité et efficacité</p>

                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" [ngsReveal]="{ delay:800}" fxHide
                    fxShow.gt-sm>
                    <a href="mailto:contact@layxo.com?subject=[Layxo]%20Prise%20de%20contact" fxHide fxShow.gt-sm>
                        <button class="btnV2 btnV2-rounded btnV2XL btn-primary ">Nous contacter</button>
                    </a>
                    <a href="#layxo"> <button class="btnV2  btnV2-rounded  btnV2XL btnV2-outline " fxHide fxShow.gt-sm>
                            Notre
                            agence</button></a>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" [ngsReveal]="{ delay:800}">
                    <a href="mailto:contact@layxo.com?subject=[Layxo]%20Prise%20de%20contact" fxHide.gt-sm>
                        <button class="btnV2 btnV2-rounded btnV2 btn-primary ">Nous contacter</button>
                    </a>
                    <a href="#layxo"> <button class="btnV2  btnV2-rounded  btnV2 btnV2-outline " fxHide.gt-sm> Notre
                            agence</button></a>
                </div>

            </div>

        </div>

    </div>


</section>