section{
    background-color: var(--primary);
    h1{
        color: var(--light-text);
    }
}


button {
    background-color: var(--secondary);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--light-text);
    border-radius: 4px;
    width: 150px;
    padding: 10px 20px;
    border: none;
}