<section fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" id="vision">

    <!-- Block Left -->
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex fxFlex.gt-sm="50">
        <h6 class="section-header" style="  color: var(--secondary);" ngsReveal>Accompagnement & Personnalisation</h6>
        <h1 class="section-title" ngsReveal>Un accompagnement
            personnalisé</h1>

        <p class="section-text" [ngsReveal]="{ delay:500}">
            Nous vous accompagnons, de la phase d’idéation du projet à sa livraison, en passant par l’audit et la
            cartographie de
            vos processus, la réalisation de maquettes et prototypes, puis en développant la solution en cycle agile.
        </p>
        <p class="section-text" [ngsReveal]="{ delay:700}">
            Nous vous accaompagnons également lors de la mise en service de la solution développée, pour faciliter son
            adoption par
            vos collaborateurs, à travers des formations, la rédaction de documentation ou la réalisaiton de campagnes
            de
            communication. </p>
        <br>
        <!-- Btn -->
        <button class="btn-thirdary" [ngsReveal]="{ delay:900}">En savoir plus </button>
    </div>

    <!-- / Block Left -->

    <!-- Block Right -->
    <div fxFlex fxFlex.gt-sm="50" fxLayout="row" fxLayoutAlign="center" fxHide fxShow.gt-sm>
        <img src="assets/img/custom/custom.svg" alt="aboutImg" width="80%" [ngsReveal]="{ delay:500}">
    </div>
    <!-- / Block Right -->

</section>